<h1>Welcome to users show page</h1>
<div class="user_card">
  <section>
    <img src="<%= @user.photo %>" alt="User image">
  </section>
  <section class="name_posts">      
    <h2 class="user_name"><%= @user.name %></h2>
    <h3 class="user_posts">Number of posts: <%= @user.posts_counter %></h3>  
  </section>
</div>
<section class="column"> 
  <h2 class="margin">Bio</h2>
  <p class="margin"> <%= @user.bio %></p>
</section>
<% @posts.each_with_index do |post, index| %>
  <%= link_to user_post_path(post.author_id, post.id) do %>
  <section class="post_card column">
    <div class="margin">
      <h2>Post #<%= index+1 %></h2>
      <p><%= post.text%> </p>
    </div>
    <div class="margin comments_likes">
      <h4>Comments: <%= post.comments_counter%></h4>
      <h4>Likes: <%= post.likes_counter%></h4>
    </div>
  </section>
  <% end %>
<% end %>
<div class="column button_box">
  <%= link_to user_posts_path(@user.id) do %>
    <button type="button">See all post</button>
  <% end %>
</div>


