<%= link_to user_post_path(post.author_id, post.id) do %>
  <section class="post_card column">
    <div class="margin">
      <h2>Post #<%= index+1 %></h2>
      <p><%= post.text %></p>
    </div>
    <div class="margin comments_likes">
      <%= link_to new_comment_path(@current_user, post.id) do%>
        <h4>Comments: <%= post.comments_counter %></h4>
      <% end %>
      
        <h4>Likes: <%= post.likes_counter %></h4>
      
      <%= button_to 'Like', user_post_likes_path(@current_user, post.id), method: :post %>
    </div>
  </section>
<% end %>