<h1>Welcome to posts show page</h1>
<section class="post_card column">
  <div class="post_detail_title">
    <h3 class="margin"><%= @post.title %> by <%= @current_user.name %></h3>
    <div class="margin comments_likes">
    <%= link_to new_comment_path(@current_user, @post.id) do%>
    <h4>Comments: <%= @post.comments_counter%></h4>
    <% end %>
    
      <h4>Likes: <%= @post.likes_counter%></h4>
    
    <%= button_to 'Like', user_post_likes_path(@current_user, @post.id), method: :post %>
    </div>    
  </div>
  <div class="margin"> 
    <p><%= @post.text%> </p>
  </div>
  
</section>
<section class="post_card comments_card">
  <% all_comments = @comments %>
  <%= render partial: 'comments', locals: { comments: all_comments } %>
</section>